.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

/* .main-container {

  } */
  
  .answer-textarea {
    width: 80vw;
    height: auto; /* Adjust the height based on content */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  